<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<appSettings>
		<add key="AuthType" value="OAuth" />
		<add key="RequireNewInstance" value="true" />
		<add key="Url" value="https://autodealer.crm4.dynamics.com/" />
		<add key="AppId" value="51f81489-12ee-4a9e-aaae-a2591f45987d" />
		<add key="RedirectUri" value="app://58145B91-0C36-4500-8554-080854F2AC97" />
	</appSettings>
</configuration>